<div class="row">
    <div class="col s12">
        <ul id="tabs-swipe-demo" class="tabs">
            <li class="tab col s12"><a class="active" href="#map">Mapas</a></li>
        </ul>
        <div id="map" class="col s12">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3857.526697747062!2d-39.03654438562041!3d-14.79566898967842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7390a5e9c8acd9d%3A0x829f554a16a23c60!2sR.+Dom+Manoel+de+Paiva%2C+226+-+Centro%2C+Ilh%C3%A9us+-+BA%2C+45653-295!5e0!3m2!1spt-BR!2sbr!4v1495150214489" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('ul.tabs').tabs();
    });
</script>